<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<body>

  <div class="container w3-center w3-panel w3-green">
    <h2 class="w3-opacity">  Admin Quản lý</h2>
  </div>

  <div class="container w3-bar w3-green">
    <button class="w3-bar-item w3-button w3-large" >Trang chủ</button>
    <button class="w3-bar-item w3-button w3-large" onclick="openCity('manager')">Phân Quyền</button>
    <button class="w3-bar-item w3-button w3-large" onclick="openCity('upload')">Đăng Bài</button>
    <button class="w3-bar-item w3-button w3-large" onclick="openCity('update')">Chỉnh Sửa</button>
    <button class="w3-bar-item w3-button w3-large" >Xuất dữ liệu Email</button>
    <button class="w3-bar-item w3-button w3-large w3-right"><a href="/admin/log_out">Đăng xuất</a></button>
  </div>

<div id="manager" class="container w3-display-container city" style="display:none">
<div class="w3-panel">
  <form class="w3-container w3-card-4">
    <p>
    <label>Tài khoản</label>
    <input class="w3-input" type="text"></p>
    <p>
    <label>Mật Khẩu</label>
    <input class="w3-input" type="password"></p>
    <p>
    <label>Nhập lại mật khẩu</label>
    <input class="w3-input" type="password"></p>
    <input class="w3-button w3-block w3-green" type="submit" value="Gửi"></p>
 
  </form>
</div>
</div>

<div id="upload" class="container w3-display-container city" style="display:none">
  <form class="w3-container w3-card-4">
    <p>
    <label>Tiêu đề</label>
    <input class="w3-input" type="text"></p>
    <p>
    <label>ID của Youtube</label>
    <input class="w3-input" type="text"></p>
    <p>
    <label>Miêu tả</label>
    <textarea class="w3-input" name="subject" placeholder="Write something.." ></textarea>
    </br>
    <input class="w3-button w3-green" type="submit" value="Đăng"></p>
 
  </form>
</div>

<script>
  function openCity(cityName) {
      var i;
      var x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      document.getElementById(cityName).style.display = "block";  
  }
</script>
</body>
</html>
