<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="icon" href="/icon.ico">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">


</head>

<body>

    <div class="container">

        <div class="row rowsecond">
            <div class="col-xs-6 col-md-6">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <img src="https://img.youtube.com/vi/EV-91JV4Fws/default.jpg" alt="Smiley face" height="auto" width="100%">
                </a>
            </div>
            <div class="col-xs-6 col-md-6" style="line-height:200%;">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <span>Thí Sinh Nguyễn Văn A - SBD 01</span>
                </a>
            </div>


        </div>
        <div class="row rowsecond">
            <div class="col-xs-6 col-md-6">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <img src="https://img.youtube.com/vi/EV-91JV4Fws/default.jpg" alt="Smiley face" height="auto" width="100%">
                </a>
            </div>
            <div class="col-xs-6 col-md-6" style="line-height:200%;">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <span>Thí Sinh Nguyễn Văn A - SBD 01</span>
                </a>
            </div>


        </div>
        <div class="row rowsecond">
            <div class="col-xs-6 col-md-6">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <img src="https://img.youtube.com/vi/EV-91JV4Fws/default.jpg" alt="Smiley face" height="auto" width="100%">
                </a>
            </div>
            <div class="col-xs-6 col-md-6" style="line-height:200%;">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <span>Thí Sinh Nguyễn Văn A - SBD 01</span>
                </a>
            </div>


        </div>
        <div class="row rowsecond">
            <div class="col-xs-6 col-md-6">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <img src="https://img.youtube.com/vi/EV-91JV4Fws/default.jpg" alt="Smiley face" height="auto" width="100%">
                </a>
            </div>
            <div class="col-xs-6 col-md-6" style="line-height:200%;">
                <a href="https://www.youtube.com/embed/EV-91JV4Fws">
                    <span>Thí Sinh Nguyễn Văn A - SBD 01</span>
                </a>
            </div>


        </div>
    </div>

</body>

</html>